--index-url https://download.pytorch.org/whl/cu124
--extra-index-url https://pypi.org/simple

torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

einops
matplotlib
positional-encodings[pytorch]
scikit-learn
scipy
torchsummary
notebook

cached_property
numpy
pytest
sympy
codepy==2023.1